.user-reaction {
  display: flex;
}

.user-reaction__option {
  display: flex;
  flex-direction: column;

  flex: 1 1 auto;

  justify-content: center;
  align-items: center;
}

.user-reaction__option__icon {
  margin-bottom: 6px;
}

.-like.is-selected {
  color: darkgreen;
}

.-dislike.is-selected {
  color: darkred;
}
