@import "../../shared";

.user-reaction {
  display: flex;

  &__option {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    &__icon {
      margin-bottom: 6px;
    }
  }

}

.-like.is-selected {
  color: color(green, 800);
}

.-dislike.is-selected {
  color: color(red, 800);
}
