@import "../../shared";

.movie-showtimes {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;

  border: 1px solid color(blueGrey, 100);

  &-header {
    padding: 12px;

    &__sub-title {
      color: color(blueGrey, 400);
    }
  }

  &__dates {
    display: flex;
    margin: 0 12px 12px;
  }

  &__theatres {
    display: flex;
  }

}

.showtime-date {
  cursor: pointer;
  text-align: center;
  min-width: 25%;

  &.is-selected {
    color: color(red, 400);
    border-bottom: 1px solid color(red, 400);
  }
}

.theatre-showtimes {
  padding: 12px;

  &__name {
    margin-bottom: 12px;
    @include typography(title);
  }

  &__times {
    display: inline-block;
    margin-right: 12px;
  }
}
