@import "../../shared";

.movie-showtimes {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;

  border: 1px solid color(blueGrey, 100);

  &-header {
    padding: 12px;

    &__sub-title {
      color: color(blueGrey, 400);
    }
  }

  &__dates {
    display: flex;
    margin: 0px 22px 12px;
  }

  &__theatres {
    display: flex;
  }

}

.showtime-date {
  cursor: pointer;
  text-align: center;
  min-width: 25%;

  &.is-selected {
    color: color(red, 400);
    border-bottom: 1px solid color(red, 400);
  }

}
