@import "../../shared";

.movie-tile {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 260px;

  background: color(white);
}

.movie-tile__poster {
  display: flex;
  flex: 0 0 182px;
  margin-bottom: 8px;
}

.movie-tile__poster > img {
  width: 100%;
}

$tile-padding: 0 12px;
.movie-tile__title {
  flex: 0 0 auto;
  padding: $tile-padding;
  margin-bottom: 8px;
}

.movie-tile__genres {
  flex: 0 0 auto;
  padding: $tile-padding;
  color: color(blueGrey, 400);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
