$palettes: (
  blue: (
      50: #E3F2FD,
      100: #BBDEFB,
      200: #90CAF9,
      300: #64B5F6,
      400: #42A5F5,
      500: #2196F3,
      600: #1E88E5,
      700: #1976D2,
      800: #1565C0,
      900: #0D47A1
  ),
  red: (
      50: #FFEBEE,
      100: #FFCDD2,
      200: #EF9A9A,
      300: #E57373,
      400: #EF5350,
      500: #F44336,
      600: #E53935,
      700: #D32F2F,
      800: #C62828,
      900: #B71C1C
  ),
  green: (
      50: #E8F5E9,
      100: #C8E6C9,
      200: #A5D6A7,
      300: #81C784,
      400: #66BB6A,
      500: #4CAF50,
      600: #43A047,
      700: #388E3C,
      800: #2E7D32,
      900: #1B5E20
  ),
  blueGrey: (
      50: #ECEFF1,
      100: #CFD8DC,
      200: #B0BEC5,
      300: #90A4AE,
      400: #78909C,
      500: #607D8B,
      600: #546E7A,
      700: #455A64,
      800: #37474F,
      900: #263238
  ),
  grey: (
      50: #FAFAFA,
      100: #F5F5F5,
      200: #EEEEEE,
      300: #E0E0E0,
      400: #BDBDBD,
      500: #9E9E9E,
      600: #757575,
      700: #616161,
      800: #424242,
      900: #212121
  ),
  black: (
    500: #000000
  ),
  white: (
    500: #000000
  )
);

@function color($palette, $shade: 500) {
  @return map-get(map-get($palettes, $palette), $shade);
}
