.movie-details {
  display: flex;
  flex-direction: column;

  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.movie-details__section {
  padding: 12px;
  border-bottom: 1px solid lightgray;
}

.movie-details__section.is-hidden {
  display: none;
}

.movie-details-header {

}

.movie-details-header__title {
  font-size: 24px;
}

.movie-details-header__sub-title {
  font-size: 12px;
  color: lightslategray;
}

.movie-scores {
  display: flex;
}

.movie-score {
  display: flex;
  flex-direction: column;

  align-items: center;
}

